.btn,
input,
textarea,
select{margin-bottom: 4px;}

table.table > tbody > tr > td{vertical-align: middle;}

#main
{
    &.index,
    &.about{margin-top: 52px;}
}

#report
{
    &.index{.photo{width: 60px;}}

    &.read,
    &.update{.photo{width: 100px;}}

    &.map
    {
        .panel{margin-top: 4px;}
        
        #gmap
        {
            height: 450px;
            border: 1px solid gray;
        }

        .camera
        {
            margin-bottom: 4px;
            background-color: #ccc;
        }
    }
}