a.btn,
button,
input,
textarea,
select {
  margin-bottom: 4px;
}

table.table > tbody > tr > td {
  vertical-align: middle;
}

img.logo {
  width: 72px;
  display: inline;
}

#main.index, #main.about {
  margin-top: 52px;
}

#report.index .photo {
  width: 60px;
}
#report.update .photo {
  width: 100px;
}
#report.map .panel {
  margin-top: 4px;
}
#report.map #gmap {
  height: 450px;
  border: 1px solid gray;
}
